body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

#hero {
    text-align: center;
    padding: 100px 0;
    background-image: url('cosmetics.jpg'); /* Add your image URL here */
    background-size: cover;
    color: #fff;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
}

#hero h2 {
    margin-bottom: 20px;
}

#hero p {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff3366;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #cc0052;
}

.section {
    text-align: center;
    padding: 100px 0;
    color: #333;
    background-color: #f2f2f2;
}

section#signup form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
}

section#signup form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
